@media (max-width: 2000px) {
  .ajout-recent{
  display: flex;
  overflow-x: scroll;
  width: 1400px;
  height: 200px;
  margin-bottom: 32px;
  }
}
@media (max-width: 00px) {
  .ajout-recent {
  display: flex;
  overflow-x: scroll;
  width: 400px;
  height: 400px;
  margin-bottom: 32px;
  }
}

