@media (max-width: 2000px) {
  .ajout-recent{
  display: flex;
  overflow-x: scroll;
  width: 1400px;
  height: 100px;
  margin-bottom: 32px;
  }
}
@media (max-width: 300px) {
  .ajout-recent {
  display: flex;
  overflow-x: scroll;
  width: 300px;
  height: 100px;
  margin-bottom: 32px;
  }
}

