#menu-pp{
  display: flex;
  justify-content: center;
}

#menu-page-perso{
  height: 52px;
  width: 954px;
  background-color: rgba(201, 196, 196, 0.3);
  right: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  color: #C05959;
}
