#mes-sons{
  background-color: rgba(201, 196, 196, 0.5);
  margin: 0;
  width: 1000px;
}

// #mes-sons-listes{
//   display: flex;
//   justify-content:center;
//   align-items:center;
//   max-width: 500px
//   margin: 0
// }

#mes-sons-liste{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 500;
  justify-content:center
}

