#carte-video-popup{
  height: 70px;
  width: 500px;
  margin-bottom: 32px;
  border: solid;
  display: flex;
}

#carte-video-popup2{
  display: flex;
}

#carte-video-popup-photo{
  img{
    width: 150px;
    height: 70px
  }
}

#carteVideoInfo{
  margin: 32px
}
