#youtube{
  margin-left: 18px;
  width: 100%;
}

#mes-sons-youtube{
  display: flex;
  flex-direction: columns;
}

#carte-youtube{
  margin-bottom:18px;
  height: 284px;


  img{
    width:100%;
    height: 178px;
  }
}

#carte-description-youtube{
  color: white;
}
