// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  margin: 0;
  background-color: black;
}

.titre{
  color: white;
  margin-top: 0;
  padding-top: 20px;
}

p{
  color:white;
}
